





.perfil-jugador {
    background-color: #eff6ff; /* Azul claro para el fondo */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.perfil-jugador h3 {
    color: #1a73e8; /* Azul para el título */
    font-size: 24px;
    margin-bottom: 10px;
}

.perfil-jugador h4 {
    color: #4d94ff; /* Azul más claro para los subtítulos */
    font-size: 18px;
    margin-bottom: 5px;
}

.perfil-jugador h5 {
    color: #80b3ff; /* Azul claro para detalles adicionales */
    font-size: 16px;
    margin-bottom: 0;
}




