<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil del jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <div class="d-flex flex-column align-items-center justify-content-center mb-5">
    <div class="mb-3" style="text-align: center;">
      <img src="assets/avatar.png" alt="Mona" width="150" height="150" style="border-radius: 50%; display: inline-block;">
    </div>
    
    <h3 class="mb-0">Bienvenido, Angel Zamora</h3>
  </div>

  <div class="perfil-jugador">
    <h3>Usuario: Lazvy</h3>
    <h5>Nivel: 54</h5>
    <h5>Pokemones atrapados: 8</h5>
    <h5>Horas jugadas: 57</h5>
</div>


  <ion-button class="mb-3 custom-button" expand="full" mode="ios" routerLink="/home">
    <ion-icon slot="start" name="bug-outline"></ion-icon>
    <ion-label>Pokemones</ion-label>
  </ion-button>

  <ion-button class="mb-3 custom-button" expand="full" mode="ios" routerLink="/home">
    <ion-icon slot="start" name="book-outline"></ion-icon>
    <ion-label>Pokedex</ion-label>
  </ion-button>



