<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-pokedex">Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="fila-pokemons">
      <ion-col size="6" *ngFor="let pokemon of pokemons; let i = index">
        <ion-card button (click)="showPokemon(i + 1)" class="carta-pokemon">
          <ion-card-header>
            <img *ngIf="pokemon.sprites" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" class="imagen-pokemon">
            <ion-card-title class="nombre-pokemon">{{ pokemon.name }}</ion-card-title>
            <ion-button fill="clear" (click)="likePokemon(i, $event)" class="boton-like">
              <ion-icon [name]="likes[i] ? 'heart' : 'heart-outline'" [color]="likes[i] ? 'danger' : 'medium'" class="icono-like"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
